body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fullwidthsection{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    padding: 10px 15px;
}

h3{
    text-align: center;
}

input[type="date"]{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label{
    display: flex;
    width: 100%;
}

.menu a {
    display: flex;
    background: beige;
    border-radius: 15px;
    margin-bottom: 15px;
    color: black
}

.menu a:hover {
    color: black
}

button, .btn-default{
    background-color: beige !important;
    color: black !important
}

input[type="date"] ~ label{
    margin-top: 15px;
}